{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про нас</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/0aa1058b8e.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'pharmacy/navbar.html' %}
    <div class="content-wrap">
        <div class="about-container">
            <div>
                <h1>Пошук ліків у аптеках міста</h1>
                <p>Даний сайт допоможе вам знайти аптеки, у яких продаються потрібні вам ліки, а також дізнатися їхню ціну та
                    короткі інструкції по використанню</p>
                <h2>Наші контакти</h2>
                <p>Телефон: 0630000000</p>
                <p>Е-пошта: mymail@gmail.com</p>
                <p>Адреса: Львів, Україна</p>
            </div>
        </div>
    </div>
</body>
</html>