{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/0aa1058b8e.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'pharmacy/navbar.html' %}
    <div class="content-wrap">
        <div class="about-container">
            <div>
                <h1>Find drugs in your city pharmacies</h1>
                <p>This website helps you to find pharmacies which sell drugs you need, and also shows you prices,
                amount and short instructions</p>
                <h2>Our contacts:</h2>
                <p>Phone: 0630000000</p>
                <p>E-mail: mymail@gmail.com</p>
                <p>Adress: Lviv, Ukraine</p>
            </div>
        </div>
    </div>
</body>
</html>