{% load static %}

<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інформація про ліки</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/0aa1058b8e.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'pharmacy/navbar.html' %}

    <div class="content-wrap">
        <h1>Ібупрофен</h1>
        <h5>Борщагівський ХФЗ</h5>
        <div class="drug-pharmacy-main-info">
            <img class="drug-pharmacy-info-img" src="{% static 'img/ibuprofen.webp' %}" alt="img">
            <p><span>Форма: </span>таблетки</p>
            <p><span>Вага: </span>200мг</p>
            <p><span>Ліцензія: </span>№ UA/3304/01/01 від 28.11.2019</p>
            <p><a href="{% url 'pharmacy_result' %}">Знайти в аптеках</a></p>
        </div>
        <div class="drug-detailed-info">
            <h3>Склад:</h3>
            <p><span>діюча речовина</span>: ібупрофен; 1 таблетка містить 200 мг ібупрофену у перерахуванні на 100% суху речовину;</p>
            <p><span>допоміжні речовини</span>: целюлоза мікрокристалічна, натрію кроскармелоза, кремнію діоксид колоїдний безводний, магнію стеарат;</p>
            <p><span>плівкове покриття</span>: гіпромелоза, коповідон, поліетиленгліколі, каприлокапроїлполіоксигліцериди, декстрозовмісні допоміжні речовини, титану діоксид (Е 171), спеціальний червоний (Е 129).</p>
            <h3>Фармакотерапевтична група:</h3>
            <p>Нестероїдні протизапальні та протиревматичні засоби. Похідні пропіонової кислоти.
                <br>Код АТХ М01А Е01.</p>
            <h3>Лікарська форма:</h3>
            <p>Таблетки, вкриті плівковою оболонкою.</p>
            <p><span>Основні фізико-хімічні властивості</span>: таблетки круглої форми, вкриті плівковою оболонкою рожевого кольору, з двоопуклою поверхнею. На поперечному розламі видно ядро, оточене шаром плівкової оболонки.</p>
            <h3>Показання:</h3>
            <p>Симптоматична терапія головного болю, зубного болю, дисменореї, невралгії, болю у спині, суглобах, м’язах, при ревматичних болях, а також ознаках застуди і грипу.</p>
            <h3>Протипоказання:</h3>
            <ul>
                <li>Підвищена чутливість до ібупрофену (або до іншого компонента препарату) та до інших нестероїдних протизапальних засобів (НПЗЗ).</li>
                <li>Реакції гіперчутливості (наприклад, бронхіальна астма, риніт, ангіоневротичний набряк або кропив’янка), які спостерігались раніше після застосування ібупрофену, ацетилсаліцилової кислоти (аспірину) або інших НПЗЗ.</li>
                <li>Шлунково-кишкова кровотеча або перфорація, пов’язана із застосуванням НПЗЗ, в анамнезі.</li>
                <li>Виразкова хвороба шлунка/кровотеча в активній формі або рецидиви в анамнезі (два і більше чітких епізоди загострення виразкової хвороби або кровотечі).</li>
            </ul>
            <h3>Застосування:</h3>
            <p>Тут має бути ну дууууже довго інструкція</p>
            <h3>Термін зберігання:</h3>
            <p>3 роки</p>
            <h3>Умови зберігання:</h3>
            <p>В оригінальній упаковці при температурі не вище 25 ºС.</p>
            <h3>Упаковка:</h3>
            <p>По 10 таблеток у блістері, по 5 блістерів у пачці/</p>
            <h3>Виробник:</h3>
            <p>Публічне акціонерне товариство «Науково-виробничий центр «Борщагівський хіміко-фармацевтичний завод».</p>
        </div>
<!--        Test. To be removed-->
        <p style="text-align: right">P.S. ТЕСТОВА СТОРІНКА. Уся інформація буде братися з БД</p>
<!--        --------------------->
    </div>
</body>
</html>