{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug info</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/0aa1058b8e.js" crossorigin="anonymous"></script>
</head>

<body id="body" onload="renderDrug('../../api/drug/{{ id }}')">
    {% include 'pharmacy/navbar.html' %}

    <div class="content-wrap">
        <h1 id="drug_name"></h1>
        <h5 id="manufacturer"></h5>
        <div class="drug-pharmacy-main-info">
            <img id="image" class="drug-pharmacy-info-img" src="" alt="img">
            <p id="form"></p>
            <p id="weight"></p>
            <p id="license"></p>
            <p><a href="{% url 'pharmacy_result' id %}">Find in pharmacies</a></p>
        </div>
        <div class="drug-detailed-info">
            <h3>Composition:</h3>
            <p id="active_component"></p>
            <p id="help_components"></p>
            <h3>Pharmacotherapeutic group:</h3>
            <p id="farma_group"></p>
            <h3>Indications:</h3>
            <ul id="indications"></ul>
            <h3>Anti indications:</h3>
            <ul id="anti_indications"></ul>
            <h3>Appliance:</h3>
            <p id="appliance"></p>
            <h3>Expiration date:</h3>
            <p id ="exp_date"></p>
            <h3>Conditions:</h3>
            <p id="conditions"></p>
            <h3>Package:</h3>
            <p id="package"></p>
        </div>
    </div>
</body>
</html>