{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug helper</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/0aa1058b8e.js" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/ajax.js' %}"></script>
</head>

<body>
    <div>
        <div class="welcome-container">
            <div>
                <p>Welcome.</p>
                <span>Please, provide a drug name in the field below.</span>
                <form name = "search_form" action="{% url 'search_result' %}" onsubmit="return validateForm()"
                      method="post">
                    {% csrf_token %}
                    <input id="search_field" type="text" name="search_term" placeholder="Here">
                    <button name= help" type="submit" value="search_term"></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>